<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EAI.A4.IntegrationWrapper_CameraSummaryXML.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EAI.A4.IntegrationWrapper_CameraSummaryXML.Properties.Settings>
            <setting name="iwCameraSummaryXmlInboxQueue" serializeAs="String">
                <value>.\Private$\EAICameraSummaryXMLInbox</value>
            </setting>
            <setting name="iwCameraSummaryXmlOutboxQueue" serializeAs="String">
                <value>.\Private$\EAICameraSummaryXMLOutbox</value>
            </setting>
            <setting name="JavaPath" serializeAs="String">
                <value>"C:\Program Files\Java\jdk1.6.0_14\bin\java.exe"</value>
            </setting>
            <setting name="JavaCameraSummaryXMLPath" serializeAs="String">
                <value>D:\Temp\CameraSummaryXML\dist</value>
            </setting>
            <setting name="JavaCameraSummaryXMLArguments" serializeAs="String">
                <value>-jar "D:\Temp\CameraSummaryXML\dist\CameraSummaryXML.jar"</value>
            </setting>
        </EAI.A4.IntegrationWrapper_CameraSummaryXML.Properties.Settings>
    </applicationSettings>
</configuration>