<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EAI.A4.IntegrationWrapper_CameraListBeautifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EAI.A4.IntegrationWrapper_CameraListBeautifier.Properties.Settings>
            <setting name="iwCameraListBeautifierInboxQueue" serializeAs="String">
                <value>.\Private$\EAICameraListBeautifierInbox</value>
            </setting>
            <setting name="iwCameraListBeautifierOutboxQueue" serializeAs="String">
                <value>.\Private$\EAICameraListBeautifierOutbox</value>
            </setting>
            <setting name="JavaCameraListBeautifierPath" serializeAs="String">
                <value>D:\TEMP\CameraListBeautifier</value>
            </setting>
            <setting name="MsxslPath" serializeAs="String">
                <value>D:\Temp\CameraListBeautifier\msxsl.exe</value>
            </setting>
        </EAI.A4.IntegrationWrapper_CameraListBeautifier.Properties.Settings>
    </applicationSettings>
</configuration>